{% extends 'bases/account-base.html' %}

{% load static %}


{% block main %}
    <div class="account-box-title">تغییر رمز عبور</div>

    <div class="account-box-content">
        <form class="form-account">
            <div class="form-account-title">رمز عبور قبلی</div>
            <div class="form-account-row">
                <label class="input-label"><i
                        class="now-ui-icons ui-1_lock-circle-open"></i></label>
                {{ form.old_password }}
            </div>
            <div class="form-account-title">رمز عبور جدید</div>
            <div class="form-account-row">
                <label class="input-label"><i
                        class="now-ui-icons ui-1_lock-circle-open"></i></label>
                {{ form.new_password }}
            </div>
            <div class="form-account-title">تکرار رمز عبور جدید</div>
            <div class="form-account-row">
                <label class="input-label"><i
                        class="now-ui-icons ui-1_lock-circle-open"></i></label>
                {{ form.repeat_new_password }}
            </div>
            <div class="form-account-row form-account-submit">
                <div class="parent-btn">
                    <button class="dk-btn dk-btn-info">
                        تغییر رمز عبور
                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}