{% extends 'bases/account-base.html' %}
{% load static %}


 <title>{% block title %} فعالسازی حساب {% endblock %}</title>


{% block main %}
    <div class="account-box-title text-right"> فعالسازی حساب </div>

    {% if form.code.errors %}
        {% for error in form.code.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="account-box-content">


        <form class="form-account" method="post">
            {% csrf_token %}
            <div class="form-account-title"> کد تایید ارسال شده به {{ user.phone_number }} را وارد نمایید</div>
            <div class="form-account-row">
                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>

                {{ form.code }}

            </div>

            <div class="form-account-row form-account-submit">
                <div class="parent-btn">
                    <button class="dk-btn dk-btn-info">
                        ارسال
                        <i class="fa fa-sign-in"></i>
                    </button>
                </div>
            </div>

        </form>


    </div>
    <div class="account-box-footer">
        <span>قبلا در دیجی کالا ثبت‌نام کرده‌اید؟</span>
        <a href="{% url 'accounts:sign-in' %}" class="btn-link-border">وارد شوید</a>
    </div>

{% endblock %}