{% extends 'bases/account-base.html' %}

{% load static %}


{% block main %}
    <div class="account-box-title text-right">فراموشی رمز عبور</div>

    {#    {% if form.username.errors %}#}
    {#        {% for error in form.username.errors %}#}
    {#            <div class="alert alert-danger alert-dismissible fade show" role="alert">#}
    {#                {{ error }}#}
    {#                <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
    {#                    <span aria-hidden="true">&times;</span>#}
    {#                </button>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    {% endif %}#}

    <div class="account-box-content">


        <form class="form-account" method="post">
            {% csrf_token %}
            <div class="form-account-title">شماره موبایل</div>
            <div class="form-account-row">
                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>

                <input type="text" class="input-field" placeholder="شماره موبایل خود را برای بازیابی گذرواژه وارد کنید">


            </div>
            <div class="form-account-row form-account-submit">
                <div class="parent-btn">
                    <button class="dk-btn dk-btn-info"> ارسال <i class="fa fa-sign-in"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="account-box-footer">
        <span>کاربر جدید هستید؟</span>
        <a href="{% url 'accounts:sign-up' %}" class="btn-link-border">ثبت‌نام در
            دیجی کالا</a>
    </div>

{% endblock %}