{% extends 'bases/main-base.html' %}
{% load static %}




{% block main %}
    <!-- main -->
    <main class="profile-user-page default">
        <div class="container">
            <div class="row">
                <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12">
                                <h1 class="title-tab-content">اطلاعات شخصی</h1>
                            </div>
                            <div class="content-section default">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">نام و نام خانوادگی :</span>
                                            {% if instance.fullname %}
                                                <span>{{ instance.fullname }}</span> {% else %} <span>-</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">پست الکترونیک :</span>
                                            <span>{{ instance.email }}</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">شماره تلفن همراه:</span>
                                            <span>{{ instance.phone_number }}</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">کد ملی :</span>
                                            {% if instance.melli_code %}
                                                <span>{{ instance.melli_code }}</span> {% else %} <span>-</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">دریافت خبرنامه :</span>
                                            <span>بله</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">شماره کارت :</span>
                                            {% if instance.card_number %}
                                                <span>{{ instance.card_number }}</span> {% else %} <span>-</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-12 text-center">
                                        <a href="{% url 'accounts:edit-personal-info' %}"
                                           class="btn-link-border form-account-link">
                                            ویرایش اطلاعات شخصی
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'include/account-sidebar.html' %}

            </div>
        </div>
    </main>
    <!-- main -->
{% endblock %}