{% extends 'bases/account-base.html' %}

{% load static %}


{% block title %} ورود به دیجی کالا {% endblock %}

{% block main %}
    <div class="account-box-title text-right">ورود به دیجی کالا</div>

    {% if form.username.errors %}
        {% for error in form.username.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="account-box-content">


        <form class="form-account" method="post">
            {% csrf_token %}
            <div class="form-account-title">ایمیل یا شماره موبایل</div>
            <div class="form-account-row">
                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>

                {{ form.username }}


            </div>
            <div class="form-account-title">رمز عبور
                <a href="" class="btn-link-border form-account-link">رمز
                    عبور خود را فراموش
                    کرده ام</a>
            </div>
            <div class="form-account-row">
                <label class="input-label"><i
                        class="now-ui-icons ui-1_lock-circle-open"></i></label>

                {{ form.password }}

            </div>
            <div class="form-account-row form-account-submit">
                <div class="parent-btn">
                    <button class="dk-btn dk-btn-info">
                        ورود به دیجی کالا
                        <i class="fa fa-sign-in"></i>
                    </button>
                </div>
            </div>
            <div class="form-account-agree">
                <label class="checkbox-form checkbox-primary">
                    <input type="checkbox" checked="checked" id="agree">
                    <span class="checkbox-check"></span>
                </label>
                <label for="agree">مرا به خاطر داشته باش</label>
            </div>
        </form>


    </div>
    <div class="account-box-footer">
        <span>کاربر جدید هستید؟</span>
        <a href="{% url 'accounts:sign-up' %}" class="btn-link-border">ثبت‌نام در
            دیجی کالا</a>
    </div>
{% endblock %}