{% extends 'bases/account-base.html' %}
{% load static %}




{% block main %}
    <div class="account-box-title">ثبت‌نام در دیجی کالا</div>

    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ field.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}

    <div class="account-box-content">
        <form class="form-account" method="post">
            {% csrf_token %}
            <div class="form-account-title"> شماره موبایل</div>
            <div class="form-account-row">

                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>

                {{ form.phone_number }}

            </div>
            <div class="form-account-title"> پست الکترونیک</div>
            <div class="form-account-row">
                <label class="input-label"><i class="now-ui-icons ui-1_email-85"></i></label>

                {{ form.email }}

            </div>
            <div class="form-account-title">کلمه عبور</div>
            <div class="form-account-row">
                <label class="input-label"><i
                        class="now-ui-icons ui-1_lock-circle-open"></i></label>

                {{ form.password }}

            </div>
            <div class="form-account-agree">
                <label class="checkbox-form checkbox-primary">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-check"></span>
                </label>
                <label for="agree">
                    <a href="#" class="btn-link-border">حریم خصوصی</a> و <a href="#"
                                                                            class="btn-link-border">شرایط
                    و قوانین</a> استفاده از سرویس های سایت
                    دیجی کالا را مطالعه نموده و با کلیه موارد آن موافقم.</label>
            </div>
            <div class="form-account-row form-account-submit">
                <div class="parent-btn">
                    <button class="dk-btn dk-btn-info">
                        ثبت نام در دیجی کالا
                        <i class="now-ui-icons users_circle-08"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="account-box-footer">
        <span>قبلا در دیجی کالا ثبت‌نام کرده‌اید؟</span>
        <a href="{% url 'accounts:sign-in' %}" class="btn-link-border">وارد شوید</a>
    </div>
{% endblock %}