{% extends 'bases/account-base.html' %}
{% load static %}


{% block main %}

    <div class="account-box-title text-center">به دیجی کالا خوش آمدید</div>
    <div class="account-box-content">
        <div class="account-box-message">
            <i class="account-box-message-icon now-ui-icons users_single-02"></i>
            <h3>حساب کاربری شما در دیجی کالا ساخته شد</h3>
            <p>اکنون می‌توانید به صفحه‌ای که در آن بودید بازگردید و یا با تکمیل اطلاعات حساب کاربری
                خود به کلیه امکانات و
                سرویس‌های دیجی کالا و سرویس‌های وابسته به آن دسترسی داشته باشید</p>
            <ul class="account-box-message-links">
                <li>
                    <div class="parent-btn">
                        <a href="{% url 'accounts:personal-info' %}" class="dk-btn dk-btn-info">
                            تکمیل حساب کاربری
                            <i class="now-ui-icons users_single-02"></i>
                        </a>
                    </div>
                </li>
                <li><a href="#" class="btn-link-border">بازگشت به صفحه‌ای که در آن بودید</a></li>
            </ul>
        </div>
    </div>

{% endblock %}